html,
body,
* {
  box-sizing: border-box;
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
}

.overlay.visible {
  opacity: 1;
  visibility: visible;
}

.main-popup {
  position: fixed;
  left: 0;
  top: 30px;
  margin: 0;
  width: 100%;
  height: 600px;
  background-color: #272729db;
  border-radius: 5px;
  z-index: 15;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: all 0.5s ease;
  height: 650px
  /*overflow: hidden;*/
}

.main-popup.visible {
  opacity: 1;
  visibility: visible;
  transform: translateY(10px);
  transition: all 0.5s ease;
}

@media (min-width: 500px) {
  .main-popup {
    width: 500px;
    left: 50%;
    margin: 0 0 0 -250px;
  }
}

.popup-header {
  position: relative;
  padding: 0;
  margin: 0;
  height: 10%;
  width: 100%;
}

#popup-close-button a {
  position: absolute;
  right: 10px;
  top: -30px;
  width: 22px;
  height: 22px;
}

#popup-close-button a::before {
  content: "";
  position: absolute;
  right: 10px;
  top: 0;
  width: 3px;
  height: 25px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#popup-close-button a::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 0;
  width: 3px;
  height: 25px;
  background-color: #fff;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.popup-header ul {
  margin: 0;
  padding: 0;
}

.popup-header ul li {
  text-align: center;
  list-style: none;
  width: 50%;
  float: left;
}

.popup-header ul li a {
  display: block;
  padding: 20px 0;
  margin: 0;
  text-decoration: none;
  font-size: 1.2em;
}

#sign-in-tab {
  color: rgb(211, 64, 64);
  border-radius: 5px 0 0 0;
}

#sign-in-tab.active {
  color: #f73e15;
  background-color: #000000cc;
}

#register-tab {
  color: rgb(211, 64, 64);
  border-radius: 0 5px 0 0;
}

#register-tab.active {
  color: #f73e15;
  background-color: #000000cc;
}

.popup-content {
  position: absolute;
  height: 90%;
  overflow: hidden;
  width: 100%;
}
.sign-in-form.invisible {
  transform: translate(0px, 30px);
  transition: all 0.5s ease-out;
  display: none;
}

.sign-in-form {
  position: relative;
  top: 40px;
  left: 0;
  font-size: 1em;
  opacity: 1;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.5s;
  display: block;
}

.popup-content label {
  font-size: 1.1em;
  color: white;
  margin-left: 23px;
}

.sign-in-form input {
  border-radius: 5px;
  width: 90%;
  height: 40px;
  margin: 5px 5% 30px 5%;
  padding: 10px;
  font-size: 1em;
  color: #000000;
  outline: none;
  border: none;
}

input#submit {
  background-color: #f73e15;
  color: #fff;
  height: 50px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 25px;
  padding: 0;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  font-size: 1em;
  border: none;
}

.register-form {
  position: initial;
  display: none;
  top: -280px;
  left: 0;
  font-size: 1em;
  opacity: 0;
  transform: translateX(450px);
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;
}

.register-form.visible {
  opacity: 1;
  transition: all 0.5s ease;
  transform: translate(0px, 11px);
  display: block;
}

.register-form input {
  border-radius: 5px;
  width: 90%;
  height: 40px;
  margin: 5px 5% 15px 5%;
  padding: 10px;
  font-size: 1em;
  color: #000000;
  outline: none;
  border: none;
}

p.check-mark {
  position: relative;
  left: 50%;
  width: 200px;
  margin: 0 0 0 -100px;
  padding: 0;
  text-align: center;
  color: #ceaee8;
  font-size: 0.8em;
}

p.check-mark a {
  color: #a48bb9;
}

p.check-mark input {
  border-radius: 0;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  font-size: 2em;
  color: #ceaee8;
  outline: none;
  border: none;
}

p.check-mark label {
  margin-left: 5px;
}
