li.page-item {
  padding: 2px;
  display: inline-flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: baseline;
  flex-direction: row;
  float: left;
}
.marked a {
  background-color: rgb(255, 127, 22);
  color: black;
}
.pagination {
  display: inline-block !important;
}
svg {
  fill: orangered;
  position: absolute;
}

.answered a {
  background-color: gray;
}
#ReviewResultModal button {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-evenly;
  align-items: center;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

p {
  margin: 0%;
}

.container {
  margin: 30px auto;
  background: white;
  padding: 20px 15px;
}

label.box {
  display: flex;
  margin-top: 10px;
  padding: 10px 12px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #ddd;
}

#one:checked ~ label.first,
#two:checked ~ label.second,
#three:checked ~ label.third,
#four:checked ~ label.forth,
#five:checked ~ label.fifth,
#six:checked ~ label.sixth,
#seven:checked ~ label.seveth,
#eight:checked ~ label.eighth {
  border-color: #8e498e;
}

#one:checked ~ label.first .circle,
#two:checked ~ label.second .circle,
#three:checked ~ label.third .circle,
#four:checked ~ label.forth .circle,
#five:checked ~ label.fifth .circle,
#six:checked ~ label.sixth .circle,
#seven:checked ~ label.seveth .circle,
#eight:checked ~ label.eighth .circle {
  border: 6px solid #8e498e;
  background-color: #fff;
}

label.box:hover {
  background: #d5bbf7;
}

label.box .course {
  display: flex;
  align-items: center;
  width: 100%;
}

label.box .circle {
  height: 22px;
  width: 22px;
  border-radius: 50%;
  margin-right: 15px;
  border: 2px solid #ddd;
  display: inline-block;
}

input[type="radio"] {
  display: none;
}

.btn.btn-primary {
  border-radius: 25px;
  margin-top: 20px;
}

@media (max-width: 450px) {
  .subject {
    font-size: 12px;
  }
}
/* Carousel style */
.next-button {
  position: relative!important;
  display: inline-block!important;
  place-items: end!important;
  color: black!important;
  float: right!important;
}

.previous-button {
  display: inline-block!important;
  position: relative!important;
  color: black!important;
  float: left!important;
}
